@model IEnumerable<ASPdotNETMVCProject.Models.Customer>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers in our system</h2>

<p>
	@Html.ActionLink("New Customer", "CustomerForm", "Customers", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
	<thead>
		<tr>
			<th>@Html.ActionLink("Customer's First Name", "Index", "Customers", new { sort = "firts_name", SearchString = ViewBag.search }, null)</th>
			<th>@Html.ActionLink("Customer's Last Name", "Index", "Customers", new { sort = "last_name", SearchString = ViewBag.search }, null)</th>
			<th>
				@Html.DisplayNameFor(model => model.Address)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PhoneNumber)
			</th>
			<th></th>
		</tr>
		@if (!Model.Any())
		{
			<tr>There are no customers available.</tr>
		}
		else
		{

			using (Html.BeginForm("Index", "Customers", FormMethod.Get))
			{
				<p>
					Find Customer by name: @Html.TextBox("SearchString")
					<input type="submit" value="Search" />
				</p>
			}
			foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.FirstName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.LastName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Address)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.PhoneNumber)
					</td>
					<td>
						@Html.ActionLink("Transactions", "Transactions", new { id = item.ID }) |
						@Html.ActionLink("Details", "Details", new { id = item.ID }) |
						@Html.ActionLink("Edit", "CustomerForm", new { id = item.ID }) |
						@Html.ActionLink("Delete", "Delete", new { id = item.ID })
					</td>
				</tr>
			}
		}

</table>
