@model ASPdotNETMVCProject.ViewModels.ServicesInGarageViewModel

@{
    ViewBag.Title = "GarageForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GarageForm</h2>


@using (Html.BeginForm("Save", "Garages"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Garage</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Garage.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Garage.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Garage.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Garage.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Garage.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Garage.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Garage.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Garage.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Garage.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>
		<table class="table">
			<thead>
				<tr>
					<th>Please choose</th>
					<th>Service</th>
					<th>Description</th>
				</tr>
			</thead>
			@foreach (var item in Model.Services)
	{

		<tr>
			<td>
				<input data-val="true"
					   id=""
					   name="service"
					   type="checkbox"
					   value="@item.Title" />
			</td>
			<td>
				@item.Title
			</td>
			<td>
				@item.Description

			</td>
		</tr>
}
		</table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.HiddenFor(model => model.Garage.ID)
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
