<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
	@if (this.User.IsInRole("CanManageTheWebSite"))
	{
		@Html.Partial("_Nav");
	}

	else if (this.User.IsInRole("CanManageCustomerInfo"))
	{
		@Html.Partial("_NavCustomer");
	}

	else if (this.User.IsInRole("CanManageGarageInfo"))
	{
		@Html.Partial("_NavGarage");
	}

	else if (!this.User.Identity.IsAuthenticated)
	{
		@Html.Partial("_NavNonUser");
	}

	else
	{
		@Html.Partial("_NavUser");
	}

	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer class="custom-footer">
			<p>&copy; @DateTime.Now.Year - Car Service Ligament by Larisa, Dmitrii, Matthew</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
