<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			@Html.ActionLink("Car Service Ligament", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">

				<li>@Html.ActionLink("Garages", "Index", "Garages")</li>
				<li>@Html.ActionLink("Services", "Index", "Services")</li>
				<li>@Html.ActionLink("Become a customer","New", "Customers")</li>
				<li>@Html.ActionLink("Become a garage", "New", "Garages")</li>
			</ul>
			@Html.Partial("_LoginPartial")
		</div>
	</div>
</div>
