@model IEnumerable<ASPdotNETMVCProject.Models.Service>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Services in our system</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Services",null, new { @class = "btn btn-primary" })
</p>
<table class="table">
	<tr>
		<th>
		<th>@Html.ActionLink("Service Title", "Index", "Services", new { sort = "name", SearchString = ViewBag.search }, null)</th>

		<th>
			@Html.DisplayNameFor(model => model.Description)
		</th>
		
	</tr>
	@if (!Model.Any())
	{
		<tr>There are no Services available.</tr>
	}
	else
	{

		using (Html.BeginForm("Index", "Customers", FormMethod.Get))
		{
			<p>
				Find Service by title: @Html.TextBox("SearchString")
				<input type="submit" value="Search" />
			</p>
		}
		foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@Html.ActionLink("Garages", "Garages", new { id = item.ID }) |
					
				</td>
			</tr>
		}
	}

	</table>
