@model IEnumerable<ASPdotNETMVCProject.Models.Service>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Services in our system</h2>

<table class="table">
	<tr>

		<th>@Html.ActionLink("Service Title", "Index", "Services", new { sort = "name", SearchString = ViewBag.search }, null)</th>

		<th>
			@Html.DisplayNameFor(model => model.Description)
		</th>
		<th>
			Where it is offered
		</th>

	</tr>
	@if (!Model.Any())
	{
		<tr>There are no Services available.</tr>
	}
	else
	{

		using (Html.BeginForm("Index", "Services", FormMethod.Get))
		{
			<p>
				Find Service by title: @Html.TextBox("SearchString")
				<input type="submit" value="Search" />
			</p>
		}
		foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@Html.ActionLink("Garages", "Garages", new { id = item.ID }) 
					
				</td>
			</tr>
		}
	}

	</table>
